altgraph==0.17.2
certifi==2025.1.31
charset-normalizer==3.4.1
distlib==0.3.8
filelock==3.15.1
future==0.18.2
idna==3.10
macholib==1.15.2
platformdirs==4.2.2
requests==2.32.3
six==1.15.0
urllib3==2.4.0
virtualenv==20.26.2
